{% load vite %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pixel War</title>
    {% vite 'frontend/main.css' 'frontend/main.ts' %}
</head>

<body>
    <div>
        <canvas></canvas>

        <div class="palette">
            <input type="radio" id="color0" name="color" value="#FFFFFF">
            <label for="color0" style="background-color: #FFFFFF;"></label>

            <input type="radio" id="color1" name="color" value="#000000" checked>
            <label for="color1" style="background-color: #000000;"></label>

            <input type="radio" id="color2" name="color" value="#FF0000">
            <label for="color2" style="background-color: #FF0000;"></label>

            <input type="radio" id="color3" name="color" value="#00FF00">
            <label for="color3" style="background-color: #00FF00;"></label>

            <input type="radio" id="color4" name="color" value="#0000FF">
            <label for="color4" style="background-color: #0000FF;"></label>

            <input type="radio" id="color5" name="color" value="#FFFF00">
            <label for="color5" style="background-color: #FFFF00;"></label>

            <input type="radio" id="color6" name="color" value="#00FFFF">
            <label for="color6" style="background-color: #00FFFF;"></label>

            <input type="radio" id="color7" name="color" value="#FF00FF">
            <label for="color7" style="background-color: #FF00FF;"></label>
        </div>
    </div>

</body>

</html>